

<p>
Hola <%=@moderator.login%>! El usuario , <%=link_to @user.login,profile_url(@user.profile)%>, ha compartido la siguiente web: 
<%=link_to @link.url.url,@link.url.url%>  con la comunidad <%=@group.name%>
</p>
