<div class="titleB"><%= I18n.t('tog_bookmarks.member.new_link') %></div>
<br />

<% if @bookmark && !@bookmark.errors.empty? -%>
<div class="error">
  <%= error_messages_for :bookmark %>
</div>
<% end -%>

<% form_for :bookmark, :url => member_bookmarks_bookmarks_path, :html => {:id => 'new_bookmark_form'} do |f| -%>

    <%= render :partial => 'form', :locals => {:f => f}%>
    <div class="actions">
      <%= submit_tag I18n.t('tog_bookmarks.member.save'), :class => "button" %>
    </div>
  </fieldset>
<% end %>