<div class="menu clearfix">
    <p class="button2 twolines"></p>
    <form name="f_buscar_item" id="f_buscar_item" action="/links/search">
        <label for="buscar_item">Buscar enlaces:</label>
        <br />
        <input type="text" name="search_term" id="search_term" class="fieldbox"  value="<%=@search_term-%>" />
        <input type="image" src="/img/ico/greenarrow-1.gif" alt="Buscar" title="Buscar" />
    </form>
        
</div>