<div class="portlet portletJ" id="portlet_pluginsTog">
    <h2><span>Most shared addresses</span></h2>
    <div class="portlet_content">
        <ul>
          <% top_addresses.each do |address| %>
            <li class="clearfix">
                <div class="image"><%= linkable_snapshop_image(address, 72)%></div>
                <div class="title"><%= link_to address.title, address.url%></div>
                <div class="text">
                  <%= I18n.t("tog_bookmarks.site.shared_by", :user=> link_to(address.user.profile.full_name, profile_path(address.user.profile))) %>. 
                  <%= I18n.t("tog_bookmarks.site.shared_by_number",:number=>address.bookmarks_count) %>
                </div>
            </li>
          <%end%>
        </ul> 
    </div>    
</div>